# Dependencies
node_modules/
**/node_modules/

# Build outputs
*.log
.DS_Store

# Development files
example/
.git/
.github/
.yarn/
.yarnrc.yml

# Test files
**/__tests__/
**/__mocks__/
**/__fixtures__/

# Config files
.eslintrc*
.prettierrc*
lefthook.yml
turbo.json

